$maincolor: black;
$contrastcolor: white;

@mixin white-text-black-bg {
  color: $contrastcolor;
  background-color: $maincolor;
}

@mixin black-test-white-bg {
  color: $maincolor;
  background-color: $contrastcolor;
}

body {
    margin: 0;
    padding: 0;
}

nav {
  @include white-text-black-bg;
  display: flex;
  justify-content: flex-start;

  a {
    @include white-text-black-bg;
    div {
      margin: 10px;
      font-size: large;
    }
  }
}

.homepage {
  margin: 30px 0;
}

.workout {
  display: flex;
  justify-content: center;

  .workoutitem {
    margin: 10px 20px;
  }
}