$maincolor: black;
$contrastcolor: white;

@mixin white-text-black-bg {
  color: $contrastcolor;
  background-color: $maincolor;
}

@mixin black-test-white-bg {
  color: $maincolor;
  background-color: $contrastcolor;
}

body {
    margin: 0;
    padding: 0;
}

nav {
  @include white-text-black-bg;
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: solid rgb(4,153,158) 2px;

  a {
    @include white-text-black-bg;
    div {
      margin: 10px;
      font-size: large;
      font-weight: 900;
    }
  }

  .navitem {
    margin: 0 30px;
  }

  img {
    max-height: 60px;
  }
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  height: 100vh;

  .responsive-iframe {
    width: 560px;
    height: 315px;
    margin-bottom: 30px;
  }
}

.index, .show {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  height: 100vh;

  .form {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: 30%;
    box-shadow: 5px 5px 5px gray;
    border-radius: 10px;
    height: 300px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px 0;

    .formitem {
      width: 75%;
      margin: 5px 0;
      padding: 5px;
      border-radius: 5px;
      text-align: center;
      border: solid black 1px;
    }

    label {
      font-weight: 600;
    }

    #submit {
      background-color: rgb(4,153,158);
    }
  }
}

.workout {
  display: flex;
  justify-content: center;

  .workoutitem {
    margin: 10px 20px;
  }
  
  button {
    background-color: rgb(4,153,158);
    padding: 7px;
    border-radius: 5px;
    border: solid black 1px;
    font-weight: 900;
  }

  button:hover {
    border: solid white 1px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

  .nav {
    justify-content: space-around;
  }

  .homepage {
    img {
      max-width: 300px;
    }

    .responsive-iframe {
      width: 300px;
      height: 200;
    }
  }

  .index, .show {
    .form {
      width: 80%;

      .formitem {
        width: 90%;
      }
    }
  }
}